@model Events.Web.Models.EventViewModel

<div class="col-md-4 col-sm-6 col-xs-12"> 
    <div class="well">
        <h2>@Model.Title</h2>
        <div class="date">@Model.StartDateTime.ToString("dd-MM-yyyy hh:mm")</div>

        @if (Model.Duration != null)
        {
            <div class="duration">@Model.Duration.Value.ToString() hours</div>
        }

        @if (Model.Author != null)
        {
            <div class="author">Author : @Model.Author</div>
        }

        @if (Model.Location != null)
        {
            <div class="location">Location : @Model.Location</div>
        }
        <div id="event-details-@Model.Id">
            @Ajax.ActionLink("View Details ", "EventDetailsById", "Home",
            new { Id = Model.Id },
            new AjaxOptions()
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "event-details-" + Model.Id
            },
            new {@class="btn btn-default"})

        </div>
    </div>
</div>