@model Events.Web.Models.EventDetailsViewModel
@if (Model.Duration != null)
{
    <div class="form-group-sm">
        @Html.LabelFor(m => m.Duration)
        @Html.DisplayFor(m => m.Duration)
    </div>
}

@if (Model.Author != null)
{
    <div class="form-group-sm">
        @Html.LabelFor(m => m.Author)
        @Html.DisplayFor(m => m.Author)
    </div>

}

@if (Model.Location != null)
{
    <div class="form-group-sm">
        @Html.LabelFor(m => m.Location)
        @Html.DisplayFor(m => m.Location)
    </div>
}
@if (Model.Description != null)
{
 
    <div class="form-group-sm">
        @Html.LabelFor(m => m.Description)
        @Html.DisplayFor(m => m.Description)
  </div>
 }

        @if (ViewBag.CanEdit)
        {
            @Html.ActionLink("Edit", "Edit", "Events", new { Id = Model.Id }, new { @class = "btn btn-primary" })
            <span></span>
            @Html.ActionLink("Delete", "Delete", "Events", new { Id = Model.Id }, new { @class = "btn btn-primary" });
        }
