@using Events.Web.Models;
@model PagedData<EventViewModel>
@if (Model.Pages > 1)
{
    int previous = Model.CurrentPage - 1;
    int next = Model.CurrentPage + 1;
    String active = "";
    <ul class="pagination">
        @if (Model.CurrentPage > 1)
        {
            <li class="page-item"><a class="page-link" href="#" data-content="@previous"><<</a></li>
        }
        @for (int i = 1; i <= Model.Pages; i++)
        {
            if (i == Model.CurrentPage)
            {
                <li class="page-item active"><a class="page-link" href="#" data-content="@i">@i</a></li>
            }
            else
            {
                <li class="page-item @active"><a class="page-link" href="#" data-content="@i">@i</a></li>
            }
        }

        @if (Model.CurrentPage < Model.Pages)
        {
            <li class="page-item"><a class="page-link" href="#" data-content="@next">>></a></li>
        }
    </ul>
}


    <script type="text/javascript">
    $().ready(function ()
    {
        $("@ViewBag.UpdateSelector .page-link").click(function () {
            var page = parseInt($(this).attr("data-content"));
            var req = $.get("@ViewBag.PostBackAction?page=" + page);
             req.done(function (data, status)
            {
                $("@ViewBag.UpdateSelector").empty().append(data);
            });
        });
        
    });
    </script>